version: 1
kind: context
name: '{{name}}'
description: |
  {{description}}

id: '{{id}}'
context:
  workflow: workflows/workflow.yaml
  rules:
    - rules/the-must-follow-rule.yaml
    - rules/development-rule.yaml
    - rules/refactoring-rule.yaml
  mcps:
    - mcps/context7.yaml
    - mcps/sequential-thinking.yaml
    - mcps/playwright.yaml
  notify:
    - notify/slack.yaml 
prompt: |
  {{prompt}}
