version: 1
kind: task
name: '{{name}}'
description: |
  {{description}}

id: '{{id}}'
status: ready
jobs:
  workflow: workflows/feature.yaml
  rules:
    - rules/the-must-follow-rule.yaml
    - rules/development-rule.yaml
    - rules/refactoring-rule.yaml
  mcps:
    - mcps/context7.yaml
    - mcps/sequential-thinking.yaml
    - mcps/playwright.yaml
  notify: []
prompt: |
  {{prompt}}
